body{

margin:0;
padding:40px;

font-family:"Cormorant Garamond",serif;

background-color:#3a2818;

background-image:
linear-gradient(rgba(58,40,24,.55),rgba(58,40,24,.55)),
url("https://images.unsplash.com/photo-1517705008128-361805f42e86?auto=format&fit=crop&w=1800&q=80");

background-size:cover;
background-attachment:fixed;

}

#cover{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.book{

background:#d9c7a3;

max-width:700px;

margin:auto;

padding:70px;

border-radius:4px;

box-shadow:

0 0 40px rgba(0,0,0,.55),

0 0 0 8px #5d4023,

0 0 0 12px #9d7d50;

text-align:center;

position:relative;

}

h1{

font-family:"Cinzel",serif;

font-size:54px;

letter-spacing:3px;

color:#4b2d16;

margin-bottom:20px;

}

h2{

font-family:"Cinzel",serif;

color:#5f3c1e;

letter-spacing:2px;

}

button{

padding:15px 35px;

font-size:18px;

font-family:"Cinzel",serif;

background:#6c4b27;

color:white;

border:none;

border-radius:3px;

cursor:pointer;

transition:.3s;

margin-top:20px;

box-shadow:0 5px 10px rgba(0,0,0,.3);

}

button:hover{

background:#8a6237;

transform:translateY(-2px);

}

button:hover{

background:#8a6237;

}

.hidden{

display:none;

}

.page{

background:
linear-gradient(rgba(255,252,240,.92),rgba(242,230,197,.92)),
url("https://www.transparenttextures.com/patterns/old-paper.png");

max-width:900px;

margin:auto;

padding:70px;

box-shadow:

0 10px 40px rgba(0,0,0,.35);

border:1px solid #ccb68a;

position:relative;

line-height:1.8;
transform:rotate(-0.3deg);

transition:all .8s ease;

}

p{

font-size:24px;

line-height:1.8;

text-align:justify;

color:#3c2a1a;

}

#content{

max-width:900px;

margin:auto;

}

.videoCard{

background:#fdf7ea;

padding:25px;

margin:25px 0;

border-left:8px solid #8d6638;

box-shadow:

0 4px 15px rgba(0,0,0,.15);

transition:.3s;

}

.videoCard:hover{

transform:translateX(8px);

}

.page::before{

content:"❦";

position:absolute;

top:20px;

left:50%;

transform:translateX(-50%);

font-size:36px;

color:#9c7d4e;

}

.page::after{

content:"❦";

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

font-size:36px;

color:#9c7d4e;

}
.page:hover{

transform:rotate(0deg) scale(1.01);

}
hr{

border:none;

height:1px;

background:linear-gradient(to right,
transparent,
#8b6a3f,
transparent);

margin:45px 0;

}
input{

width:250px;

padding:12px;

font-size:20px;

background:#fbf4df;

border:2px solid #a07b45;

font-family:"Cormorant Garamond";

margin-right:10px;

}
